.ab-link {
  font-size: var(--link-font-size, 14px);
  font-weight: var(--link-font-weight, 400);
  text-decoration: var(--link-text-decoration, underline);
  color: var(--link-text-color, $black);
  align-self: var(--force-self-alignment, var(--link-text-alignment, initial));
  font-family: var(--link-font-family, Inter);

  &:hover,
  &--force-hover {
    color: var(--link-hover-text-color, $black);
    text-decoration: var(--link-hover-text-decoration, underline);
  }

  &--force-active {
    color: var(--link-active-text-color, $black);
    text-decoration: var(--link-active-text-decoration, underline);
  }
}
